<div class="profile-page">
    <div>
        <div>
            <table border=0 class="profile-table">
                <tr>
                    <td align="center" >
                        <table border=0 >
                            <tr>
                                <td align="center">
                                    <img class="user-avatar" src="assets/images/logo.png" width="150px"/>
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <h1>Profile</h1>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <div class="form-content">
                            <br><br><br><br>
                            <div class="form-group">
                                <input type="text" [(ngModel)]="user.firstName" class="form-control input-underline input-lg" id="firstName" placeholder="First Name">
                            </div>
                            <div class="form-group">
                                <input type="text" [(ngModel)]="user.lastName" class="form-control input-underline input-lg" id="lastName" placeholder="Last Name">
                            </div>
                            <div class="form-group">
                                <input type="text" [(ngModel)]="user.email" class="form-control input-underline input-lg" id="email" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="text" [(ngModel)]="user.address" class="form-control input-underline input-lg" id="address" placeholder="Address">
                            </div>
                            <div class="form-group">
                                <input type="text" [(ngModel)]="user.phone" class="form-control input-underline input-lg" id="phone" placeholder="Phone">
                            </div>
                            <div class="form-group">
                                <input type="password" [(ngModel)]="user.password" class="form-control input-underline input-lg" id="pass" placeholder="Password">
                            </div>                            
                        </div>
                        <br>
                        <a class="btn my-btn" (click)="updateProfile()"> Update </a>&nbsp;
                        <a class="btn my-btn" [routerLink]="['/dashboard']"> Cancel </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
