<div class="row mt-3">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">Timepicker (<b>1</b>)</div>
            <div class="card-body">
                <ngb-timepicker [(ngModel)]="defaultTime"></ngb-timepicker>
                <div class="alert alert-info">
                    <b>Selected time: </b>{{defaultTime | json}}
                </div>
            </div>
        </div>
    </div>
     <div class="col-sm-6">
        <div class="card">
            <div class="card-header">Timepicker (<b>2</b>)</div>
            <div class="card-body">
                <ngb-timepicker [(ngModel)]="defaultTime"></ngb-timepicker>
                <div class="alert alert-info">
                    <b>Selected time: </b>{{defaultTime | json}}
                </div>
            </div>
        </div>
    </div>
</div>
