<div>
    <table>
        <tr>
             <td>
                <app-location-dropdown [page]="page"></app-location-dropdown>
             </td>
             <td>
                  <app-date-picker [page]="page"></app-date-picker>
             </td>
        </tr>
             
             
    </table>
    <br><br>
    <div class="row">
        <div class="col col-xl-6 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    Temperature & Humidity data
                </div>
                <div class="card-body table-responsive">
                    <table class="card-body table">
                        <thead>
                            <tr>
                                <th>Datetime</th>
                                <th>Temperature</th>
                                <th>Humidity</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let thdata of data">
                                <td>{{thdata.date}} {{thdata.time}}</td>
                                <td>{{thdata.temperature}}</td>
                                <td>{{thdata.humidity}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
