.dashboardTable{
	color:darkblue;
	width: 100%;
	text-align: center;
	font-weight: bold;
}

.dashboardTableDateTime{
	color:lightgrey;
	text-align: right;
	font-weight: normal italic;
	font-size: 15px;
	width: 100%;
}

.greyText{
	color:lightgrey;
	font-weight: normal italic;
	padding-right: 5px;
}

.labelBig {
	font-size: 60px;
}

.labelSmall {
	font-size: 35px;
}

.alignRight {
	float: right;
	padding-right: 5px;
}