<div [@routerTransition]>
   <!--  <h2 class="text-muted">Temperature & Humidity <small>Overview</small></h2> -->
   <div class="alignRight">
        <label class="greyText">Current Date:</label><b>{{currentDate | date:'dd MMM yyyy'}}</b><br/>
        <label class="greyText">Current Time:</label><b>{{currentDate | date:'hh:mm:ss a'}}</b>
        <br>
   </div>
    
    <table class="dashboardTable">
        <tr>
            <td width="50%">
                <div class="card mb-3">
                    <div class="card-header">
                        Temperature
                    </div>
                    <div class="card-body">
                         <table class="dashboardTableDateTime">
                            <tr>
                                <td>{{thData.dateFormatted}}</td>
                            </tr>
                            <tr>    
                                <td>{{thData.timeFormatted}}</td>
                            </tr>
                        </table>
                        <label class="labelBig">{{thData.temperature}}</label>
                        <label class="labelSmall">°C</label>
                    </div>
                </div>
            </td>
            <td width="50%">
                <div class="card mb-3">
                    <div class="card-header">
                        Humidity
                    </div>
                    <div class="card-body">
                        <table class="dashboardTableDateTime">
                            <tr>
                                <td>{{thData.dateFormatted}}</td>
                            </tr>
                            <tr>    
                                <td>{{thData.timeFormatted}}</td>
                            </tr>
                        </table>
                        <label class="labelBig">{{thData.humidity}}</label>
                        <label class="labelSmall">%</label>
                    </div>
                </div>
            </td>
        </tr>
    </table>

<br>
    <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                </ng-template>
            </ngb-carousel>
        </div>
    </div>

    <hr />
</div>
