<div [@routerTransition]>
    <app-page-header [heading]="'Alarms'" [icon]="'fa-table'"></app-page-header>
    <div class="card-body table-responsive">
        <table class="card-body table">
            <thead>
                <th>Type</th>
                <th>Location</th>
                <th>Min value</th>
                <th>Max value</th>
                <th>Active</th>
            </thead>
            <tbody>
                <tr *ngFor="let alarm of allAlarms;let index = index;">
                    <td> {{alarm.type}} </td>
                    <td> {{alarm.locationName}} </td>
                    <td> {{alarm.minValue}} </td>
                    <td> {{alarm.maxValue}} </td>
                    <td>
                        <ui-switch switchColor="white" defaultBgColor="red" [(ngModel)]="alarm.active" (change)="onChange($event, alarm.id)">
                        </ui-switch>
                    </td>
                    <td>
                        <button type="button" class="btn btn-lg btn-primary" (click)="onRemove(alarm.id)">Remove</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <select [(ngModel)]="type" class="form-control dropdown-toggle">
                            <option value="temperature">temperature</option>
                            <option value="humidity">humidity</option>
                        </select>
                    </td>
                    <td>
                        <select [(ngModel)]="locationId" class="form-control dropdown-toggle">
                            <option *ngFor="let loc of allLocations" [ngValue]="loc.id">
                                {{loc.name}}
                            </option>
                        </select>
                    </td>
                    <td>
                        <input [(ngModel)]="minValue" class="form-control mr-sm-2" type="number" placeholder="min value">
                    </td>
                    <td>
                        <input [(ngModel)]="maxValue" class="form-control mr-sm-2" type="number" placeholder="max value">
                    </td>
                    <td>
                        <ui-switch [(ngModel)]="active" switchColor="white" defaultBgColor="red"></ui-switch>
                        {{active}}
                    </td>
                    <td>
                        <button type="button" class="btn btn-lg btn-success" (click)="addAlarm()">Add alarm</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
