<div class="card">
    <div class="card-header">Alarm Type</div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div ngbDropdown class="d-inline-block dropdown">
                    <button class="btn btn-outline-primary" ngbDropdownToggle>Chose type of alarm</button>
                    <div ngbDropdownMenu>
                        <button class="dropdown-item">Temperature</button>
                        <button class="dropdown-item">Humidity</button>
                    </div>
                </div>
        </div>
    </div>
    <div>
        <br>
        <br>
        <br>
    </div>
</div>
